<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.lazyrabbit.generator.mapper.GenConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.lazyrabbit.generator.entity.GenConfig">
        <id column="id" property="id" />
        <result column="table_name" property="tableName" />
        <result column="author" property="author" />
        <result column="cover" property="cover" />
        <result column="module_name" property="moduleName" />
        <result column="pack" property="pack" />
        <result column="path" property="path" />
        <result column="api_path" property="apiPath" />
        <result column="prefix" property="prefix" />
        <result column="api_alias" property="apiAlias" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, table_name, author, cover, module_name, pack, path, api_path, prefix, api_alias
    </sql>

</mapper>
